html, body, #spinnerDiv, #spinnerDivModal {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#spinner {
    z-index: 2000;
}
#mapid {
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0px;
}

.selectBox {
    background: transparent;
    width: 100%
 }

.table {
    margin-bottom: 0;
}

.modal-content {
    background-color: #f4f1e8;
}
#country-select {
    border: 2px solid rgba(0,0,0,0.2);
    font-size: 1rem;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
}

#countryTemp {
        font-size: 3em;
}

#high, #low {
    font-size: 1.5em;
}
.h50 {
    height: 50%;
    display: flex;
}

.h50 span, .h50 img {
       align-self: center;
       margin: 0 auto;

    }

#sunriseRow {
    background-color: wheat;
}

#wImg {
    height: 140px;
    width: 140px;
}

.info, .weatherBox, .news, .finance {
    cursor: pointer !important;
    position: relative;
    height: 60px;
    width: 60px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    overflow: hidden;
    background: rgba(244,244,244,0.8)
}

figcaption {
    font-size: 0.8em;
    font-style: italic;
}


.float-right {
    float: right;
}
#infoBox, #weatherIconDiv, #newsIconDiv, #financeIconDiv {
    width: 52px;
    height: 52px;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    margin: 2px;
}
#weatherIconDiv, #currentRow {
    background-color: rgba(137, 196, 244, 0.5);
}
#financeIconDiv {
    background-color: rgba(4, 147, 114, 0.5);
}
#newsIconDiv {
    background-color: rgba(155, 89, 182, 0.5)
}

.fas.fa-cloud-sun, .fas.fa-newspaper, .fas.fa-coins {
    margin: 13px;
}

#flag {
    opacity: 0.5;
    height: 56px;
    position: absolute;
    left: -30px;
    top: -1px;
}

.leaflet-control-zoom {
    display: none;
}

#routesLeg {
    border: 1px solid lightgray;
    border-radius: 4px;
 }

.leaflet-horizontalcenter {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    left: 50%;
    transform: translateX(-50%); 
    padding-right: 10px;
    padding-left: 10px;
}

.leaflet-horizontalcenter .leaflet-control {
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (min-width: 307px) {
}

@media screen and (min-width: 382px) {
   

}

@media screen and (min-width: 512px) {
    
}

@media screen and (min-width: 565px) {
   
}

@media screen and (min-width: 750px) {
  
   
}

@media screen and (min-width: 1000px) {
   
}

@media screen and (orientation: landscape) and (max-height: 600px) {
    
}

@media screen and (orientation: landscape) and (min-height: 317px) and (max-height: 350px) {
   
}

@media screen and (orientation: landscape) and (min-height: 350px) {
  
}

 @media screen and (orientation: landscape) and (max-height: 600px) and (min-width: 750px) {
    }

@media screen and (orientation: landscape) and (max-height: 600px) and (min-width: 1000px) {
    
}


